/*********************
 *  PubJS全局配置信息  *
 *********************/
define('pub-config', [], function(){
  return {

    // 调试模式: 0, 1, 2
    debug: 0,

    // 控制器所在目录
    handlers_base: '/path/to/your/handlers/',

    // 默认路由入口
    router: {
      default_handler: 'default'
    },

    // 模板文件基础路径
    views_base: '/path/to/your/views/',

    // 默認應用數據
    data: {
      // ...
    },

    init: function(app) {
      /**
       * 你可以在這歷使用中間件、插件等
       *
       * app.use(
       *   app.cookieParser(),
       *   app.messager(),
       *   app.dataCenter(),
       *   app.language(),
       *   app.query(),
       *   app.darg()
       * );
       */
    }
  };
});